.khan__buy-link {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    line-height: 42px;
    font-size: 30px;
    text-decoration: none;
    color: #2f80ed;
    transition: opacity 0.3s ease-in-out; 
}

.khan__buy-link:hover {
    opacity: 0.6;
  }